[submodule "thirdparty/robinHoodHashing"]
	path = thirdparty/robinHoodHashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "thirdparty/zstr"]
	path = thirdparty/zstr
	url = https://github.com/mateidavid/zstr
[submodule "thirdparty/libbf"]
	path = thirdparty/libbf
	url = https://github.com/lrobidou/libbf
[submodule "thirdparty/findere_lib"]
	path = thirdparty/findere_lib
	url = https://github.com/lrobidou/findere_lib
